@import "tailwindcss";

:root {
  --main-color: #2AD2B6;
  --light-bg: #fff;
}
body{
    font-family: var(--font-iransans), sans-serif !important;
  
}
html{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-margin-top: 10vh;
}
button {
  cursor: pointer !important;
}